@page
@model KidsAreaApp.Pages.BarCodeModel
@{
}

<STYLE TYPE="text/css" media="screen,print">
    @@font-face {
        font-family: CCode128;
        src: url("/fonts/ConnectCode128_S3_Trial.ttf") format('TrueType')
    }

    #barcode {
        font-weight: normal;
        font-style: normal;
        line-height: normal;
        font-family: 'CCode128', sans-serif;
        text-align: center;
        font-size: 32px
    }

    #barcode_text {
        font-weight: normal;
        font-style: normal;
        line-height: normal;
        font-family: sans-serif;
        text-align: center;
        font-size: 24px
    }
</STYLE>

<div id="barcode">@Model.Barcode</div>
<div id="barcode_text">@Model.BarcodeText</div>